*.db
*.py[cod]
.DS_Store
.env
.idea
.vscode
.vscode/
.vscode/data_sources_kanri/
.vscode/data_sources_kanri/data_sources_kanri/
.vscode/data_sources_kanri/data_sources_kanri/data_sources_kanri/
.vscode/data_sources_kanri/data_sources_kanri/data_sources_kanri/data_sources_kanri/
.vscode/data_sources_kanri/data_sources_kanri/data_sources_kanri/data_sources_kanri/data_sources_kanri/
.vscode/data_sources_kanri/data_sources_kanri/data_sources_kanri/data_sources_kanri/data_sources_kanri/data_sources_kanri/
.web
__pycache__/
assets/external/
event-data/
shared_disk/event_driven/*.csv
shared_disk/access_logs/*.log
**/*.pos